strong {
  color: #00c659;
}

bad {
  color: #df4343;
}

small {
  font-size: 10px;
}

yellow {
  color: #ccbc00;
}

mid1 {
  font-size: 18px;
  color: #00c659;
}

mid2 {
  font-size: 18px;
  color: #df4343;
}

ab {
  border-radius: 20px;
  border: 2px solid #2cad21;
  width: 25%;
  text-align: center;
}

.gradient {
  background: rgb(20,240,177);
  background: linear-gradient(62deg, rgba(53,53,53,1) 0%, rgba(53,53,53,1) 51%);
}

.box {
  border: 1px solid;
  border-color: #0dbd8b;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px #0dbd8b;
}

body {
  color:white;
  background-color: #232323;
}

i {
  color: #3ecb9c;
  background-color: #3ecb9c;
}
